@media screen and (max-width: 576px) {
    .nav-bar {
        max-height: 6rem;
        max-width: 90%;
    }

    .nav-item {
        display: none;
    }

    .icon {
        display: block;
        color: #ffffff;
        font-size: 1.50rem;
    }

    header {
        height: 55.75rem;
        width: auto; 
    }

    .fitness-title {
        font-size: 2.25rem;
    }

    .shape-span {
        font-size: 3rem;
    }

    .fitness-sub-title>br {
        display: none;
    }

    .fitness-container {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 1rem;
    }

    .fitness-img {
        margin: 0 auto;
        width: 18.25rem;
    }

    .fitness-text-btn {
        margin-top: 0;
    }

    .btn-primary, .btn-primary-2 {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    .video-text-card, .video-text-card-2 {
        width: 9rem;
        height: 4rem;
        left: 5px;
    }

    .video-text-card-title {
        font-size: 1.10rem;
    }

    .video-text-card-2-child>h1 {
        font-size: 1.45rem;
    }

    .video-text-card-2 {
        left: 164px;
        top: 60px;
    }

    .light-gray {
        font-size: .70rem;
    }

    .pause-icon {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .habits-container {
        height: 8rem;
    }

    .habits-container-title {
        font-size: 2rem;
        margin-bottom: .80rem;
    }

    .habits-container-sub-title>br {
        display: none;
    }

    .habits-img-container {
        height: 90rem;
        width: auto;
        margin: 0 auto;
    }

    .habits-img-container-child {
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 17rem;
        gap: 7rem;
    }

    .habits-img {
        width: 272px;
        height: 260px;
    }

    .habits-img>img {
        margin-bottom: .90rem;
    }

    .run-easily-text-img {
        flex-direction: column;
        height:  34.40rem;
        width: 90%;
    }

    .run-easily-img-card {
        width: 90%;
        margin: 1rem auto;
    }

    .run-easily-text-card {
        width: 90%;
        margin: 1rem auto;
    }

    .card-title {
        font-size: 2.25rem;
    }

    .card-sub-title {
        margin-bottom: 2rem;
    }

    .card-sub-title>br {
        display: none;
    }

    .trainings-text-container {
        height: 12rem;
        align-items: center;
    }

    .trainings-text-container-child {
        width: 90%;
        height: 10rem;
        margin-top: 0;
    }

    .trainings-text-container-title {
        font-size: 2.25rem;
    }
}