@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* shared styles */

.btn {
    border-radius: 2.875rem;
    background: rgb(230, 83, 60);
    width: 5.75rem;
    height: 2.275rem;
    border: none;
    margin-right: 1rem;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
}

.btn-primary {
    width: 13.75rem;
    height: 3.4375rem;
    border-radius: 7rem;
    font-size: 1.125rem;
    background-color: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.btn-primary-2 {
    width: 13.75rem;
    height: 3.4375rem;
    border-radius: 7rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(255, 255, 255);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-gray {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.light-gray-2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    opacity: .8;
}
.shape-span {
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
}

/* nav-bar styling */  

header {
    background-image: linear-gradient(to top, #000000, #090507, #100b0e, #141015, #17141a, #17141a, #17141a, #17141a, #141015, #100b0e, #090507, #000000);    
    width: auto;
    height: 46.7875rem;
}

.nav-bar {
    max-width: 75%;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.brand {
    font-size: 2.75rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-item {
    display: flex;
    align-items: center;
    max-width: 20rem;
    height: 2.875rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding-right: 1rem;
    padding-left: 5px;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none; 
}

.nav-link>a {
    text-decoration: none;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
}

.icon {
    display: none;
}

/* fitness-container styling */

.fitness-container {
    width: 75%;
    margin: 0 auto;
    /* border: 1px solid red ; */
    height: 78.39%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;
    gap: rem;
}

.fitness-text-btn {
    display: flex;
    margin-top: 2rem;
    /* align-items: center; */
}

.fitness-title {
    font-size: 4.980rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1.85rem;  
}

.fitness-sub-title {
    margin-bottom: 2rem;
    line-height: 1.25rem;
}

.fitness-img {
    margin-right: 10rem;
    margin-top: .20rem;
    width: 22rem;
    position: relative;
}

.fitness-img>img {
    width: 100%;
}

.video-text-card, .video-text-card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .60rem;
    background-color: rgba(48, 48, 48, 0.54);
    width: 12.75rem;
    height: 5.9375rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 70%;
    left: -90px;
}


.video-text-card-2 {
    top: 28%;
    left: 260px;
    width: 12.0625rem;
}

.video-text-card-2-child>h1 {
    font-size: 2.25rem;
}

.pause-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(250, 250, 249);
}

.video-text-card-title {
    color: rgb(250, 250, 249);
}

/* habits-container styling */

.habits-container {
    width: auto;
    height: 15rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.habits-container-child {
    text-align: center;
}

.habits-container-title {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.habits-img-container {
    /* border: 1px solid black; */
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 6rem;
}

.habits-img-container-child {
    width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.habits-img {
    width: 100%;
    /* border: 1px solid black; */
    height: 18rem;
    text-align: center;
    border-radius: 50%;
}

.habits-img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 1.75rem;
}

.habits-img-title {
    color: rgb(250, 250, 249);
    margin-bottom: .60rem;
}

/* run-easily-container styling */

.run-easily-container {
    width: auto;
    height: 40rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.run-easily-text-img {
    width: 65%;
    height: 22rem;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.run-easily-text-card {
    width: 27.6875rem;
    margin: 2rem;
}

.card-title {
    font-size: 3rem;
    color: rgb(250, 250, 249);
    margin-bottom: 1rem;
}

.card-sub-title {
    margin-bottom: 3rem;
}

.run-easily-img-card {
    width: 27.6875rem;
    height: 27rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

.run-easily-img-card>img {
    width: 100%;
    border-radius: 1rem;
}

/* trainings-text-container styling */

.trainings-text-container {
    width: auto;
    background-color: rgb(0, 0, 0);
    height: 10rem;
    display: flex;
    align-items: start;
}

.trainings-text-container-child {
    width: 75%;
    margin: 0 auto;
}

.trainings-text-container-title {
    font-size: 3rem;
    color: rgb(250, 250, 249);
    margin-bottom: 1rem;
}